<main>
  <section>
    <div class="banner-row">
      <div class="main-banner">
        <img src="images/banners/cinewalk1.jpeg" alt="Banners de promoção do Cinewalk" class="img-banner">
      </div>
    </div>
  </section>
  <section>
    <div class="now-showing-row">
      <div class="upper-row">
        <div class="title">
          <h3>EM CARTAZ</h3>
        </div>
        <div class="buttons">
          <button>&lt;</button>
          <button>&gt;</button>
        </div>
      </div>
      <div class="now-showing">
        <div class="film">
          <img src="images/posters/10 - Ordem Paranormal Iniciados.jpeg" alt="Um Poster de um Filme em Cartaz">
          <div class="film-name">
            <div class="first-row">
              <p>Ordem Paranormal: Iniciados</p>
            </div>
            <div class="second-row">
              <p>Mistério - 4 eps</p>
              <img src="images/classificacao/16anos.png" alt="Classificação Indicativa de 16 anos">
            </div>
          </div>
        </div>
        <div class="film">
          <img src="images/posters/9 - Anfora da Vida.jpeg" alt="Um Poster de um Filme em Cartaz">
          <div class="film-name">
            <div class="first-row">
              <p>Ânfora da Vida</p>
            </div>
            <div class="second-row">
              <p>Aventura - 4 eps</p>
              <img src="images/classificacao/14anos.png" alt="Classificação Indicativa de 14 anos">
            </div>
          </div>
        </div>
        <div class="film">
          <img src="images/posters/8 - Reliquias do Passado.jpeg" alt="Um Poster de um Filme em Cartaz">
          <div class="film-name">
            <div class="first-row">
              <p>DINASTIA: Relíquias do Passado</p>
            </div>
            <div class="second-row">
              <p>Drama - 23 eps</p>
              <img src="images/classificacao/16anos.png" alt="Classificação Indicativa de 16 anos">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="catalog-row">
      <div class="upper-row">
        <div class="title">
          <h3>CATALOGO</h3>
        </div>
        <div class="buttons">
          <button>&lt;</button>
          <button>&gt;</button>
        </div>
      </div>
      <div class="catalog">
        <img src="images/posters/1 - O Experimento - Demo.jpeg" alt="Um Poster de um Filme em Cartaz">
        <div class="film-name">
          <p>O Experimento - Demo</p>
          <p>Suspense - 1 ep</p>
          <img src="./css/images/classificacao/16anos.png" alt="Classificação Indicativa de 16 anos">
        </div>
      </div>
    </div>
    <footer>
      Copyright &copy 2025 Cinewalk
    </footer>
  </section>
</main>
