<main>
  @if (actorCharacters.length !== 0) {
  <div class="row-one">
    <nz-list>
      @for (character of actorCharacters; track character.character.id; let i = $index) {
      <nz-list-item [class.last-item]="i === actorCharacters.length - 1">
        <div class="item-row">
          <img [src]="character.localCharacterPicture" alt="Imagem de um personagem vinculado com o ator.">
          <p>{{character.character.txCharacterName}}</p>
        </div>
      </nz-list-item>
      }
    </nz-list>
  </div>
  } @else {
  <div class="not-found-div">
    <p class="not-found">Este Ator/Atriz ainda não interpretou nenhum personagem.</p>
  </div>
  }
</main>
