<nz-tabset [(nzSelectedIndex)]="selectedTab" (nzSelectedIndexChange)="tabChange($event)">
    <nz-tab nzTitle="Personagem">
        <div class="title-row">
            <h1>{{title}}</h1>
        </div>
        <form nz-form [formGroup]="characterForm">
            <div class="left-block">
                <nz-form-item>
                    <nz-form-control>
                        <div class="image-vertical-border">
                            <nz-upload [nzDisabled]="false" class="image-upload" (nzChange)="handleChange($event, 0)"
                                [nzShowUploadList]="false">
                                @if (!characterPictureDTO.imageB64) {
                                <nz-icon class="upload-icon" nzType="plus" />
                                <div class="ant-upload-text">Enviar</div>
                                } @else {
                                <img alt="Imagem de perfil do usuário" [src]="characterPictureDTO.imageB64" />
                                }
                            </nz-upload>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="center-block">
                <nz-form-item>
                    <nz-form-label nzFor="name" nzRequired>Nome</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="Nome do personagem" name="name" formControlName="characterName"
                            class="name-input">
                    </nz-form-control>
                </nz-form-item>
                <div class="selected-row">
                    <nz-form-item>
                        <nz-form-label nzFor="status">Status</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="status" class="status-select">
                                <nz-option nzValue="VIVO" nzLabel="Vivo"></nz-option>
                                <nz-option nzValue="MORTO" nzLabel="Morto"></nz-option>
                                <nz-option nzValue="INCERTO" nzLabel="Incerto"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="type">Papel</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="type" class=" type-select">
                                <nz-option nzValue="PROTAGONISTA" nzLabel="Protagonista"></nz-option>
                                <nz-option nzValue="FIGURANTE" nzLabel="Figurante"></nz-option>
                                <nz-option nzValue="OPONENTE" nzLabel="Oponente"></nz-option>
                                <nz-option nzValue="ANTAGONISTA" nzLabel="Antagonista"></nz-option>
                                <nz-option nzValue="COADJUVANTE" nzLabel="Coadjuvante"></nz-option>
                                <nz-option nzValue="COPROTAGONISTA" nzLabel="Coprotagonista"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <nz-form-item>
                    <nz-form-label nzFor="actor">Ator/Atriz</nz-form-label>
                    <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um ator/atriz" formControlName="actor">
                            @for (actor of actors; track actor.id) {
                            <nz-option [nzLabel]="actor.txActorName + ' ' + actor.txActorSurname"
                                [nzValue]="actor.id"></nz-option>
                            }
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <div class="fourth-row">
                    <nz-form-item>
                        <nz-form-label nzFor="first-epsode" nzRequired>Primeira Aparição</nz-form-label>
                        <nz-form-control>
                            <nz-input-number [nzMin]="1" formControlName="firstEpisode" class="first-episode-input">
                                <span nzInputPrefix>Ep. N°</span>
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control>
                            <label nz-checkbox formControlName="isNpc">NPC</label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="age-origin-row">
                    <nz-form-item>
                        <nz-form-label nzFor="age">Idade</nz-form-label>
                        <nz-form-control>
                            <textarea name="age" nz-input placeholder="Idade do personagem"
                                formControlName="age"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="origin">Origem</nz-form-label>
                        <nz-form-control>
                            <input nz-input placeholder="Origem do personagem" name="origin" formControlName="origin"
                                class="origin-input">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="rigth-block">
                <nz-form-item>
                    <nz-form-label nzFor="biography" nzNoColon="true">Biografia</nz-form-label>
                    <nz-form-control>
                        <textarea name="biography" nz-input placeholder="Biografia do personagem"
                            formControlName="biography"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </nz-tab>
</nz-tabset>