<nz-tabset [(nzSelectedIndex)]="selectedTab" (nzSelectedIndexChange)="tabChange($event)">
  <nz-tab nzTitle="Ator/Atriz">
    <div class="title-row">
      <h1>{{title}}</h1>
    </div>
    <form nz-form [formGroup]="actorForm">
      <div class="left-block">
        <nz-form-item>
          <nz-form-control>
            <div class="image-vertical-border">
              <nz-upload [nzDisabled]="false" class="image-upload" (nzChange)="handleChange($event, 0)"
                [nzShowUploadList]="false">
                @if (!profilePictureDTO.imageB64) {
                <nz-icon class="upload-icon" nzType="plus" />
                <div class="ant-upload-text">Enviar</div>
                } @else {
                <img [src]="profilePictureDTO.imageB64" />
                }
              </nz-upload>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="rigth-block">
        <div class="form-row-1">
          <nz-form-item>
            <nz-form-label nzFor="actorName" nzRequired> Nome </nz-form-label>
            <nz-form-control nzErrorTip="Nome é obrigatório!">
              <input nz-input formControlName="actorName" id="actorName" required maxlength="30">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="actorSurname" nzRequired> Sobrenome </nz-form-label>
            <nz-form-control nzErrorTip="Sobrenome é obrigatório!">
              <input nz-input formControlName="actorSurname" id="actorSurname" required maxlength="60">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="birthday" nzRequired> Data de Nascimento </nz-form-label>
            <nz-form-control nzErrorTip="Data de Nascimento é obrigatória.">
              <nz-date-picker formControlName="birthday" id="birthday" nzFormat="dd/MM/yyyy" required></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="city">Cidade</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="city" id="city" maxlength="80">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="status">Ativo</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="form-row-2">
          <nz-form-item>
            <nz-form-label nzFor="biography" nzNoColon="true">Biografia</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="biography"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-tab>
  <nz-tab nzTitle="Séries" nzDisabled="true">

  </nz-tab>
</nz-tabset>
