<main>
  <div class="logo-div">
    <img [routerLink]="['/']" src="images/logo.png" alt="Logo da Walkflix">
  </div>
  <div class="go-back">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"> <nz-icon nzType="arrow-left"></nz-icon>Voltar à Walkflix</a>
  </div>
  <div class="tree">
    <nz-tabset nzTabPosition="left">
      @for (tab of tabs; track tab) {
      <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <nz-icon [nzType]="tab.icon" />
          {{ tab.name }}
        </ng-template>
        @switch (tab.name){
          @case ("Séries") {
            <app-director-series></app-director-series>
          }
          @case ("Atores e Atrizes") {
            <app-director-actors></app-director-actors>
          }
          @case ("Personagens") {
            <app-director-character></app-director-character>
          }
        }
      </nz-tab>
      }
    </nz-tabset>''
  </div>
</main>
