header {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;

  .nav-row {
    display: flex;
    width: 99%;
    margin-left: 1%;
    height: 13vh;
    justify-items: center;
    align-items: center;

    img {
      margin: 0;
      padding: 0;
      width: 15%;
      height: 100%;
      transition: 0.75s;
      clip-path: circle(50% at center);
    }

    img:hover {
      cursor: pointer;
    }

    ul {
      display: flex;
      width: 86%;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 14px;
      align-items: center;
      gap: 2%;

      li {
        transition: 0.5s;
      }

      li:nth-child(5){
        margin-left: 63%;
      }

      li:hover {
        color: #A8A8A8;
        cursor: pointer;
      }
    }
  }
}


