:root {
  --black-color: #12100D;
  --gray-color: rgba(0, 0, 0, 0.7);
  --gray-hover: #E2E2E2;
  --font: "Netflix Sans";
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('assets/fonts/NetflixSans-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  height: 90vh;
  background-color: var(--black-color);
  color: white;
  font-family: var(--font);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}


